<section class = "py-2">
  <div class = "row">
      <div class = "col-md-6 text-center">
        <h1 class ="display-3 mt-3 pt-5">
          jarren's ebook
        </h1>
        <p class = "lead">
          learn about making coffee
        </p>
        <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_3LzGxErGCr3UWzdiWKc3sHgS"
            data-amount="1000"
            data-name="Jarren's Ebook"
            data-description="Ebook written by Jarren San Jose"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
          </script>
          <button type="submit" class = "btn btn-outline-dark text-white btn-lg">Purchase for $10</button>
        </form>
    </div>
    <div class = "col-md-6">
      <img src = "/img/book.png" alt="" class="img-fluid">
  </div>
  </div>
</section>
